{% extends 'base.html.twig' %}

{% block title %}Toutes les recettes{% endblock %}

{% block body %}
    <p>
        Le Lorem Ipsum est simplement du faux texte employé dans la composition 
        et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie
        depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour 
        réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, 
        sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant 
        des passages du Lorem Ipsum, et, plus récemment, 
        par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
    </p>
    <p>
        <a class="btn btn-primary btn-sm" href="{{ path('recipe.create')}}">Créer une recette</a>
    </p>
    <table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for recipe in recipes %}
        <tr>
            <td>
                <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug})}}">{{recipe.title}}</a>
            </td>
            <td>
                <div class="d-flex gap-1">
                    <a class="btn btn-primary btn-sm" href="{{ path('recipe.edit', {id: recipe.id, slug: recipe.slug})}}">Editer</a>
                    <form method="POST" action="{{ path('recipe.delete', {'id': recipe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette recette ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                    </form>
                </div>
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}